<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <!-- Define the Console Appender -->
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{ISO8601}] [%t] %-5level %logger{36} - %msg %X%n"/>
        </Console>
    </Appenders>

    <!-- Logger configuration for ch.software_atelier -->
    <Loggers>
        <!-- Define a logger for the specific package -->
        <Logger name="ch.software_atelier" level="trace" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Root logger configuration -->
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>

</Configuration>
